jqx-dialog-window.jqx-window > .jqx-container > .jqx-content {
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

jqx-dialog-window.jqx-window .jqx-dialog-icon,
jqx-dialog-window.jqx-window .jqx-icon-dialog-icon {
    position: relative;
    font-family: "jqx-icons";
    /*margin-right: 10%;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-right: 5px;
}

    jqx-dialog-window.jqx-window .jqx-dialog-icon:empty {
        margin: initial;
    }

#controlTable {
    border: 1px solid black;
    padding: 20px;
    width: 450px;
}

    #controlTable table {
        width: 100%;
        height: 100%;
    }

    #controlTable jqx-drop-down-list {
        width: 120px;
    }

    #controlTable table jqx-button {
        height: 30px;
        width: 100%;
    }

    #controlTable > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        #controlTable > div:last-of-type {
            justify-content: space-between;
        }

            #controlTable > div:last-of-type jqx-button {
                height: 30px;
                width: 150px;
            }


    #controlTable jqx-check-box {
        margin-left: 10px;
    }

    #controlTable > div {
        margin-top: 20px;
    }

jqx-dialog-window.jqx-window.jqx-theme-warning .glyphicon {
    color: #ffd800;
}

jqx-dialog-window.jqx-window.jqx-theme-error .glyphicon {
    color: #ff0000;
}

jqx-dialog-window.jqx-window.jqx-theme-information .glyphicon {
    color: #0094ff;
}

jqx-alert-window.jqx-window,
jqx-prompt-window.jqx-window {
    height: 150px;
}

jqx-alert-window.jqx-window > .jqx-container > .jqx-content {
    flex-direction: row;
    align-content: center;
    justify-content: center;    
}

jqx-progress-window.jqx-window {
    height: 125px;
}

jqx-multiline-prompt-window.jqx-window {
    height: 250px;
}

jqx-multiline-prompt-window.jqx-window jqx-multiline-text-box {
    height: 100%;
}

jqx-wait-window.jqx-window {
    height: 75px;
}

jqx-wait-window.jqx-window jqx-progress-bar {
    height: 100%;
}

jqx-window.jqx-window jqx-button.material button,
jqx-dialog-window.jqx-window jqx-button.material button,
jqx-progress-window.jqx-window jqx-button.material button,
jqx-alert-window.jqx-window jqx-button.material button,
jqx-prompt-window.jqx-window jqx-button.material button,
jqx-multiline-prompt-window.jqx-window jqx-button.material button {
    padding-top: 4px;
    padding-bottom: 4px;
}

jqx-multiline-prompt-window.jqx-window.material jqx-multiline-text-box {
    width: 100%;
}
