.mc-ni-logo {
    background-image: url('images/ni-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 126px;
    height: 30px;
}

#mc-footer-page {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-family: var(--mc-body-font);
    font-size: var(--mc-size-smaller-1);
    background-color: var(--mc-blue-base);
    color: var(--mc-white);
    line-height: var(--mc-space-larger-3);
    margin-top: var(--mc-space-none);
}

#mc-footer-left {
    color: var(--mc-white);
    padding-left: var(--mc-space-larger-3);
    text-align: left;
}

#mc-footer-left a:link, #mc-footer-left a:visited, #mc-footer-left a:active {
    color: var(--mc-white);
}

#mc-footer-left a:hover {
    text-decoration: underline;
    color: var(--mc-white);
}

#mc-footer-right {
    padding-right: var(--mc-space-larger-3);
    padding-top: var(--mc-space-larger-1);
}

/**************************************/
/*Tablet*/
/**************************************/

@media (max-width: 768px) {
    #mc-footer-page {
        height: 120px;
        display: inline-block;
    }

    #mc-footer-left {
        padding-top: var(--mc-space-larger-1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #mc-footer-right {
  	     padding-top: var(--mc-space-larger-3);
  	     display: flex;
  	     justify-content: flex-end;
    }
}
