--- 
layout: default 
---

<div class="content">
    <div id="post">
        {% case page.status %} {% when 'WIP' %}
        <div id="status">
            <h4 style="margin-bottom:0px">Content for this page is currently in progress.</h4>
            <p>What you see below is still trustworthy and we are actively working to make it better.</p>
        </div>
        <div id="post-content">{{ content }}</div>
        {% when 'queued'or nil%}
        <div id="status">
            <h4>Content for this topic is not created yet but is in our queue for production.</h4>
        </div>
        {% else %}
        <div id="post-content">{{ content }}</div>
        {% endcase %}
        <p>Last updated on <span id="dateModified">{{ page.last_modified_at | date: '%B %d, %Y' }}</span></p>
        <paper-tooltip for="dateModified">{{ page.last_modified_at | date: '%B %d, %Y, %l:%M:%S %p %Z' }}</paper-tooltip>
    </div>
</div>