---
layout: default
---

<style>
  body {
    background-color: #f9f9f9 !important;
  }
</style>
<div class="content">
  <div id="post">

    {% if page.image %}
    <a href="{{ site.baseurl }}/images/posts/{{ page.image }}" data-lightbox="image-1" data-title="{{ page.image-caption }}">
      <img class="materialboxed" src="{{ site.baseurl }}/images/posts/{{ page.image }}">
    </a>
    {% if page.image-source %}
    <a href="{{ page.image-source }}">Source</a>
    {% endif %}
    {% endif %}

    <h1 class="paper-font-display1">{{ page.title }}</h1>

    <div id="post-content">
      {{ content }}
    </div>

    <div class="section">
      {% if page.previous %}
      <a href="{{ site.baseurl }}{{ page.previous.url }}"><paper-button raised class="accent">
        <iron-icon icon="arrow-back"></iron-icon>&emsp;Next Post<iron-icon></iron-icon>
      </paper-button></a>
      {% else %}
      <paper-button raised disabled>
        <iron-icon icon="arrow-back"></iron-icon>&emsp;Next Post<iron-icon></iron-icon>
      </paper-button>
      {% endif %}

      {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}"><paper-button raised class="accent">
          <iron-icon></iron-icon>Previous Post&emsp;<iron-icon icon="arrow-forward"></iron-icon>
        </paper-button></a>
      {% else %}
        <paper-button raised disabled>
          <iron-icon></iron-icon>Previous Post&emsp;<iron-icon icon="arrow-forward"></iron-icon>
        </paper-button>
      {% endif %}
    </div>

    {% if site.disqus_shortname %}
      {% include disqus-comments.html %}
    {% endif %}

  </div>
</div>
