jqx-drop-down-list,
jqx-combo-box,
jqx-list-box,
jqx-button {
    float: left;
    margin: 20px;
}

    jqx-drop-down-list jqx-list-box {
        margin: initial;
    }

    jqx-button {
        width: 175px;
        height: 30px;
    }