.mc-tab-main {
    display: flex;
    height: 100%;
}

.mc-tab-content-hidden {
    display: none;
}

.mc-tab-menu {
    border-right: 1px solid var(--mc-gray-lighter-5)
}

.mc-tab-menu-entry {
    color: var(--mc-blue-base);
    background-color: var(--mc-white);
    padding: 5px 50px 5px 5px;
    cursor: pointer;
    white-space: nowrap;
    font-size: var(--mc-size-larger-1);
}

.mc-tab-menu-entry-inactive:hover {
    color: var(--mc-blue-lighter-1);
}

.mc-tab-menu-entry-active {
    color: var(--mc-white);
    background-color: var(--mc-blue-base);
}

.mc-tab-container {
    flex-grow: 1;
}

/**************************************/
/* Phone */
/**************************************/

@media (max-width: 425px) {
    .mc-tab-menu-entry  {
        padding-right: 5px;
    }

    .mc-tab-menu-entry-text  {
        display: none;
    }
}
