jqx-docking-layout .jqx-items-container > .jqx-container > jqx-splitter-item {
    width: 33.3%;
}

jqx-docking-layout {
    width: 50%;
    height: 600px;
}

#container {
    margin-left: 0;
}

#insertOutsideTargetGroupLeft,
#insertOutsideTargetGroupRight,
#insertOutsideTargetGroupTop,
#insertOutsideTargetGroupBottom {
    width: 225px;
}
