jqx-docking-layout {
    width: 100%;
    height: 500px;
    background-color: #EEEDF3;
}

    jqx-docking-layout .jqx-items-container jqx-splitter-item,
    jqx-docking-layout .jqx-items-container > .jqx-container > jqx-splitter-item {
        width: 50%;
        height: 50%;
    }

    jqx-docking-layout jqx-tabs-window jqx-slider,
    jqx-docking-layout jqx-tabs-window jqx-multiline-text-box {
        height: 100%;
        width: 100%;
    }

    jqx-docking-layout jqx-tabs-window jqx-multiline-text-box {
        display: block;
    }
