.sl-list-editor-row {
    display: flex;
    line-height: 32px;
    margin-bottom: 10px;
}

.sl-list-editor-add-icon {
    line-height: 32px;
    min-width: 12px;
}

.sl-list-editor-remove-icon {
    line-height: 32px;
    min-width: 12px;
    cursor: pointer;
}

.sl-list-editor-input {
    margin-left: 10px;
}
