.jqx-file jqx-progress-bar {
    height: 100%;
    width: 100%;
    display: block;
}

    .jqx-file jqx-progress-bar .jqx-value {
        opacity: 0.5;
    }

.jqx-file.jqx-uploading::before, .jqx-file.jqx-uploading::after {
    content: none;
}


jqx-file-upload[show-progress] .jqx-file jqx-progress-bar{
    display:block;
    color:gray;
    font-size:18px;
}