/* Colun Count */

jqx-color-picker.column-count-small {
    --jqx-color-picker-grid-mode-column-count: 4;
}

jqx-color-picker.column-count-medium {
    --jqx-color-picker-grid-mode-column-count: 8;
}

jqx-color-picker.column-count-large {
    --jqx-color-picker-grid-mode-column-count: 14;
}

/*jqx-color-picker {
    display: inline-block;
    --jqx-color-picker-default-width: auto;
}*/