jqx-combo-box {
    background-color: #F2F2F2;
}

    jqx-combo-box .jqx-popup {
        background-color: #F2F2F2;
        border-color: black;
    }

.jqx-popup > .jqx-container {
    border: 2px transparent solid;
}

/*In case of IE && EDGE && Chromium v39*/
/*jqx-list-box jqx-scroll-bar[orientation="vertical"] {
                width: 10px;
            }

            jqx-list-box jqx-scroll-bar {
                height: 10px;
            }

            jqx-list-box input {
                width: calc(100% - 10px);
            }

                jqx-list-box jqx-scroll-bar.bottom-right-visible {
                    width: calc(100% - 10px);
                }

                jqx-list-box jqx-scroll-bar::before {
                    height: 10px;
                }

                    jqx-list-box jqx-scroll-bar[orientation="vertical"].bottom-right-visible {
                        height: calc(100% - 10px);
                    }

            jqx-list-box .jqx-items-container.horizontal-scroll-bar-enabled {
                height: calc(100% - 10px);
            }

            jqx-list-box .jqx-items-container.vertical-scroll-bar-enabled {
                width: calc(100% - 10px);
            }

            jqx-list-box .jqx-items-container.jqx-filter-enabled {
                height: calc(100% - 25px);
            }

            jqx-list-box .jqx-items-container.horizontal-scroll-bar-enabled.jqx-filter-enabled {
                height: calc(100% - 35px);
            }*/
/* --------------------- */


jqx-list-box jqx-scroll-bar .jqx-thumb {
    border: none;
    background-color: #A6A6A6;
}

jqx-list-box jqx-list-item.hovered {
    color: #FFBB00;
}
