.mc-status-success-icon {
    background-image: url('./images/succedded_40x40.svg');
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

.mc-status-hidden {
    display: none;
}

.mc-status-waiting-icon {
    background-image: url('./images/sharing-wait.gif');
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

.mc-status-failed-icon {
    background-image: url('./images/fail_40x40.svg');
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

.mc-status-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.mc-status-title h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: var(--mc-headline-font);
    color: var(--mc-blue-base);
    font-size: var(--mc-size-larger-2);
    font-weight: var(--mc-weight-smaller-1);
    line-height: normal;
}

.mc-status-message {
    font-weight: bold;
}

.mc-status-additional-message {
    overflow-wrap: break-word;
}

.mc-status-content {
    background-color: var(--mc-white);
    margin: auto;
    padding: 15px;
    min-width: 320px;
    max-width: 390px;
    font-family: var(--mc-body-font);
    font-size: var(--mc-size-base);
    word-break: break-all;
}

.mc-status-content-transition {
    -webkit-transition: width 0.5s, height 0.5s, max-width 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, max-width 0.5s;
}

@media (max-width: 425px) {
    .mc-status-content {
        width: 80%;
    }
}