jqx-numeric-text-box {
    width: 300px;
    height: 40px;
}

.non-default-look {
    --jqx-border-color: #000000;
    color: #000000;
}

    .non-default-look input:focus,
    .non-default-look .jqx-numeric-text-box-focused-component {
        border-color: #FFBB00;
    }

    .non-default-look .jqx-spin-button {
        background-color: transparent;
    }

    .non-default-look .jqx-arrow:after {
        color: #000000;
    }



#numericTextBox2 input {
    border-right-width: var(--jqx-border-width);
}

#numericTextBox2 .jqx-spin-buttons-container,
#numericTextBox5 .jqx-spin-buttons-container {
    --jqx-border-width: 0;
}

#numericTextBox3 .jqx-spin-buttons-container {
    border-left: none;
}

#numericTextBox6 input {
    border-left: none;
}

#numericTextBox7 .jqx-drop-down {
    background-color: white;
    color: black;
}

    #numericTextBox7 .jqx-drop-down .hovered {
        color: var(--jqx-hover-color);
        background-color: transparent;
    }

#numericTextBox7[radix="2"] .jqx-list-item[data-value="2"],
#numericTextBox7 .jqx-list-item[data-value="10"],
#numericTextBox7[radix="8"] .jqx-list-item[data-value="8"],
#numericTextBox7[radix="16"] .jqx-list-item[data-value="16"] {
    background-color: rgba(255,187,0, 0.3);
}

#numericTextBox7[radix="2"] .jqx-list-item[data-value="10"],
#numericTextBox7[radix="8"] .jqx-list-item[data-value="10"],
#numericTextBox7[radix="16"] .jqx-list-item[data-value="10"] {
    background-color: transparent;
}
