.mc-toolbar-main {
    width: auto;
    min-height: var(--mc-toolbar-height);
    border: var(--mc-border-none);
    background-color: var(--mc-gray-lighter-8);
    padding-left: var(--mc-space-larger-1);
    display: flex;
    align-items: flex-start;
}

.mc-toolbar-item {
    height: var(--mc-toolbar-height);
    background-color: transparent;
    margin-right: var(--mc-space-base);
    border: var(--mc-border-smaller-1) solid transparent;
    font-size: var(--mc-size-larger-1);
    font-weight: var(--mc-weight-base);
    font-family: var(--mc-headline-font);
    cursor: pointer;
    transition: var(--mc-button-transition);
    outline: none;
}

.mc-toolbar-item-icon {
    color: var(--mc-gray-lighter-1);
}

.mc-toolbar-item:hover {
    background-color: var(--mc-gray-lighter-6);
    border: var(--mc-border-smaller-1) solid var(--mc-gray-lighter-4);
}

.mc-toolbar-item[disabled] {
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
}

/* Dropdown */

.sl-dropdown-content {
    position: absolute;
    background-color: var(--mc-white);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    z-index: 20000;
}

.sl-dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sl-dropdown-content a:hover {
     background-color: var(--mc-menu-item-hovered);
}

.sl-dropdown-content a[disabled] {
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
}

/**************************************/
/* Phone */
/**************************************/

@media (max-width: 425px) {
    .mc-toolbar-item-hide-on-mobile {
        display: none;
    }
}
