jqx-drop-down-list,
jqx-combo-box,
jqx-list-box {
    float: left;
    margin: 20px;
}

    jqx-drop-down-list jqx-list-box,
    jqx-combo-box jqx-list-box {
        margin: initial;
    }

#logContainer {
    border: 1px solid black;
    height: 500px;
    width: 200px;
    overflow-y: auto;
}

    #logContainer h4 {
        text-align: center;
    }