#windowContainer {
    height: 500px;
    width: 650px;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #F2F2F2;
}

    #windowContainer > jqx-button {
        margin-top: 10px;
        margin-left: 10px;
    }

jqx-window {
    --jqx-window-default-width: 250px;
    --jqx-window-default-height: 150px;
}
