#map-canvas-0,
#map-canvas-1,
#map-canvas-2 {
    width: 100%;
    height: 100%;
}

#waterText,
#soilText,
#airText {
    display: none;
}

#container {
    float: left;
    margin: 10px;
}

jqx-splitter jqx-splitter-item jqx-list-box,
jqx-splitter jqx-splitter-item jqx-tabs {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#verticalSplitter jqx-splitter-item,
#nestedVerticalSplitter jqx-splitter-item {
    width: 50%;
    position: relative;
    padding: 5px;
}

    #nestedVerticalSplitter jqx-splitter-item jqx-circular-progress-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #nestedVerticalSplitter jqx-splitter-item:nth-of-type(1) {
        width: 70%;
    }

jqx-splitter jqx-splitter-item jqx-tabs .jqx-tab-label-container {
    width: calc(100% / 3);
}

jqx-splitter jqx-splitter-item jqx-tabs .jqx-tab-label-text-container {
    display: flex;
    justify-content: center;
}
