body {
    margin: 0px;
    padding: 0px;
}

jqx-cards {
    min-height: 100vh;
}

jqx-card.expandable-card {
    background-color: white;
}

    jqx-card.expandable-card .card-image {
        position: relative;
    }

        jqx-card.expandable-card .card-image img {
            width: 100%;
            border-radius: 2px 2px 0px 0px;
        }

        jqx-card.expandable-card .card-image .card-title {
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: white;
            font-size: 30px;
            background-color: #00000087;
            padding: 20px;
        }

    jqx-card.expandable-card .card-content, jqx-card.expandable-card .card-comment, jqx-card.expandable-card .card-action {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
    }

    jqx-card.expandable-card .card-comment {
        font-style: italic;
        font-size: 0.9em;
    }

    jqx-card.expandable-card .card-action {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        border-top: 1px solid rgba(160,160,160,0.2);
        border-radius: 0px 0px 2px 2px;
    }

    jqx-card.expandable-card jqx-accordion {
        width: 100%;
        height: auto;
    }

    jqx-card.expandable-card jqx-accordion-item > .jqx-container {
        border-bottom-width: 0px;
    }

    jqx-card.expandable-card jqx-accordion-item p {
        border-bottom: 1px solid lightgray;
        padding: 5px;
        margin: 2px;
        color: gray;
    }

    jqx-card.expandable-card .card-buttons {
        position: relative;
        padding: 0px 20px 20px 0px;
    }

    jqx-card.expandable-card .card-content.hidden {
        display: none;
    }

jqx-card jqx-toggle-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    background-color: lightgray;
    position: absolute;
    right: 20px;
    top: 0px;
}

jqx-card jqx-button button.jqx-button {
    border-width: 0px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

jqx-card jqx-toggle-button button.jqx-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-width: 0px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

jqx-card jqx-toggle-button[checked] button.jqx-button {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
