#tank {
    width: 180px;
    height: 180px;
    margin-left: 80px;
}

jqx-slider {
    width: 800px;
    height: 150px;
}

jqx-button {
    width: 100px;
    height: 35px;
}

#scaleWidth, #scaleHeight, #trackWidth, #trackHeight {
    display: inline-block;
}

h5:first-of-type {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0.2em;
    font-weight: lighter;
}

h5:last-of-type {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 1em;
    font-weight: lighter;
}

#tankContainer {
    width: auto;
    height: auto;
}
