html, body {
    background-color: #F2F2F2;
}

.settings-container {
    position: fixed;
    right: 0;
    border: 3px solid #FFBB00;
    border-right: none;
    border-radius: 10px 0 0 10px;
    width: 150px;
    height: 250px;
    padding: 10px;
    background-color: #A6A6A6;
    color: #F2F2F2;
    box-shadow: 7px 7px 15px #888888;
}

.gauge-container {
    float: left;
    margin-right: 50px;
}
