@keyframes mc-security-modal-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#mc-slide-menu-modal {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 100000; /* hack to make sure jqx loading animation does not show when sharing */
    width: 100%;
    height: 100%;
    background-color: var(--mc-color-modal-background);
    visibility: visible;
    transition: opacity var(--mc-duration-base) var(--mc-deceleration);
}

.mc-slide-menu-animation {
    animation: mc-security-modal-fade-in .5s;
    opacity: 1;
}

.mc-slide-menu-hidden {
    display: none;
}

#mc-policy-editor-content {
    font-size: var(--mc-size-base);
    font-family: var(--mc-body-font);
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    width: 500px;
    height: auto;
    background-color: var(--mc-white);
    padding: 20px;
    box-shadow: -7px 0px 7px -4px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.mc-policy-editor-header {
    margin: 1px;
    font-family: var(--mc-headline-font);
    font-size: var(--mc-size-larger-3);
    color: var(--mc-blue-base);
    font-weight: 300;
    line-height: normal;
}

.mc-policy-editor-name-input {
    width: 290px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--mc-size-larger-1);
    text-overflow: ellipsis;
}

.mc-policy-editor-error-message {
    color: var(--mc-red-darker-2);
    font-size: var(--mc-size-smaller-1);
    text-overflow: ellipsis;
    margin-left: 5px;
}

.mc-policy-editor-statement-title {
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: var(--mc-blue-base);
    line-height: normal;
    font-family: var(--mc-headline-font);
    font-size: var(--mc-size-larger-2);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.mc-policy-editor-permissions {
    margin: 5px;
    margin-left: 5px;
    color: var(--mc-blue-base);
    line-height: normal;
    font-size: var(--mc-size-larger-1);
    font-family: var(--mc-headline-font);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.mc-permissions-checkbox-label {
    margin-left: 20px;
    margin-bottom: 7px;
    display: block;
}

.mc-wildcardtitle {
    margin-top: 25px;
    margin-left: 15px;
}

.mc-policy-permisions-wildcard {
    margin-left: 15px;
}

.mc-wildcard-doclink {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: var(--mc-blue-base);
    text-decoration: none;
}

.mc-wildcard-doclink:hover {
    text-decoration: underline;
}

.mc-policy-editor-button {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
}

