.avatar {
    border-radius: 50%;
}

.jqx-token > span:first-of-type {
    padding-left: initial;
}

.jqx-token > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

jqx-combo-box[selection-display-mode="tokens"] .jqx-selection-field > .jqx-token {
    box-shadow: initial;
}
