.demo-horizontal-layout {
    display:  flex;
}
label {
    font-size: 14px;
    font-family:Roboto,"Helvetica Neue",sans-serif; 
}
.demo-buttons-group {
    margin: 8px;
}
.demo-buttons-group jqx-button {
    margin:8px;
}
.glyphicon {
    left: -5px;
    top: 3px;
    font-size:30px;
}