jqx-switch-button .jqx-true-content,
jqx-switch-button .jqx-false-content {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

jqx-switch-button .jqx-true-content {
    background-color: green;
}

jqx-switch-button .jqx-false-content {
    background-color: red;
}
