.mc-sharing-main {
    margin: auto;
    width: 390px;
    height: auto;
    background: var(--white);
    border: 0;
    overflow: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#mc-sharing-title {
    font-family: var(--mc-headline-font);
    color: var(--mc-blue-base);
    font-weight: var(--mc-weight-smaller-1);
    line-height: normal;

    font-size: var(--mc-size-larger-1);
    border-bottom: 2px solid black;
    word-break: break-all;
    /* fallback for Edge */
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-----------------------*/
#mc-sharing-user-message {
    display: flex;
    flex-direction: column;
    height: auto;
}

.mc-sharing-message-button {
    cursor: pointer;
    padding: 0;
    margin: 5px;
    border: none;
    background: none;
    outline: none;
    text-align: left;
    font-weight: var(--mc-weight-base);
    font-size: var(--mc-size-larger-1);
    font-family: var(--mc-headline-font);
    color: rgb(51, 51, 51);
}

#mc-sharing-text-message {
    margin: 5px;
    outline: none;
    width: 360px;
    height: 100px;
    color: var(--mc-gray-base);
    resize: none;
    text-align: left;
    font-weight: var(--mc-weight-smaller-1);
    font-size: var(--mc-size-base);
    font-family: var(--mc-headline-font);
    transition: height 0.25s ease-out;
}

#mc-sharing-message-button.hidden {
    margin: 0px;
    display: none;
}

#mc-sharing-text-message.hidden {
    visibility: hidden;
    margin: 0px;
    height: 0px;
    transition: height 0.25s ease-in;
}

#mc-sharing-text-message.visible {
    visibility: visible;
    height: 100px;
    transition: height 0.25s ease-out;
}

/*-----------------------*/

.mc-sharing-message-button:hover {
    color: var(--mc-blue-base);
    background-color: none;
    background: none;
}

#mc-sharing-email-input {
    margin: 5px;
    font-size: inherit;
    text-overflow: ellipsis;
}

#mc-sharing-selected-emails {
    height: 200px;
    overflow-y: auto;
}

.mc-sharing-selected-email {
    margin: 5px;
    background-color: #E0E0E0;
    border-radius: 17.5px;
    color: #555;
    font-family: var(--mc-headline-font);
    font-size: var(--mc-size-base);
}

.mc-sharing-selected-email:hover,
.mc-sharing-selected-email:focus {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    outline: none;
}

.mc-sharing-selected-email-chip {
    background-color: var(--mc-blue-base);
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: var(--mc-white);
    border-radius: 50%;
    vertical-align: middle;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

.mc-sharing-selected-email-text {
    padding-left: 5px;
    display: inline-block;
    width: calc(100% - 2 * 35px);
}

.mc-sharing-selected-email-remove {
    opacity: 0.3;
    width: 35px;
    height: 35px;
}

.mc-sharing-selected-email-remove:hover {
    cursor: pointer;
    opacity: 0.5;
}

.mc-sharing-selected-email-remove:after{
    display: inline-block;
    content: " \00d7 ";
    font-size: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}