jqx-grid {
    width: auto;
	height: auto;
	--jqx-grid-template-columns:  250px 150px 150px 200px auto;
}

@media only screen and (max-width: 800px) {
	jqx-grid {  
	  --jqx-grid-template-columns:  150px 150px 150px 150px auto;
	}
}
@media only screen and (max-width: 600px) {
	jqx-grid {  
	  --jqx-grid-template-columns:  60px 60px 60px 60px auto;
	}
}