jqx-docking-layout .jqx-items-container > .jqx-container > jqx-splitter-item {
    height: 33.3%;
}

#verticalGroup jqx-splitter-item {
    width: 50%;
}

jqx-docking-layout {
    width: 50%;
    height: 600px;
}

#container {
    margin-left: 0;
}

#autoHideTop,
#autoHideBottom,
#autoHideLeft,
#autoHideRight {
    width: 125px;
}
