.mc-pager-main {
    font-family: var(--mc-body-font);
    font-size: var(--mc-size-base);
    color: var(--mc-gray-base);
}

.mc-pager-go-to-page::-webkit-inner-spin-button,
.mc-pager-go-to-page::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.mc-pager-go-to-page {
    -moz-appearance: textfield;
    width: 20px;
    outline: none;
}

.mc-pager-go-to-page:invalid {
    box-shadow: none;
}

.mc-pager-page-size-text {
    padding-left: 6px;
}

.mc-pager-page-size {
    cursor: pointer;
    outline: none;
}

.mc-pager-item-text {
    padding-left: 6px;
}

.mc-pager-button {
    background-color: var(--mc-gray-lighter-7);
    color: var(--mc-gray-lighter-3);
    cursor: pointer;
    width: 25px;
    height: 18px;
    font-size: 16px;
    border: 0;
    vertical-align: middle;
    outline: none;
}

.mc-pager-button-previous {
    margin-left: 6px;
}

.mc-pager-button-next {
    margin-left: 2px;
    margin-right: 6px;
}

.mc-pager-button-icon-previous:before {
    content: '\f0d9';
}

.mc-pager-button-icon-next:before {
    content: '\f0da';
}

/**************************************/
/* Phone */
/**************************************/

@media (max-width: 425px) {
    .mc-pager-go-to-page-text,
    .mc-pager-go-to-page,
    .mc-pager-page-size-text,
    .mc-pager-item-text {
        display: none;
    }
}
