jqx-window > .jqx-container > .jqx-content {
    /*overflow-y: auto;*/
    flex-direction: column;
}

jqx-window #article {
    overflow-y: auto;
    width: 100%;
}

.jqx-window .jqx-dock-button:after {
    content: 'D';
}

.jqx-window .jqx-block-button:after {
    content: 'B';
}

.jqx-window .jqx-autoclose-button:after {
    content: 'A';
}

.jqx-window .jqx-readonly-button:after {
    content: 'R';
}
