.mc-calltoaction-main {
    text-align: center;
    margin: auto;
    padding: var(--mc-space-larger-2);
    border: var(--mc-border-base) solid var(--mc-blue-base);
    border-radius: var(--mc-space-larger-3);
    color: var(--mc-blue-base);
    background-color: var(--mc-gray-lighter-8);
}

.mc-calltoaction-main h3 {
    font-family: var(--mc-headline-font);
    color: var(--mc-blue-base);
    font-weight: var(--mc-weight-smaller-1);
    line-height: normal;
    font-size: var(--mc-size-larger-2);
    margin-top: var(--mc-space-base);
}

.mc-calltoaction-main p {
    font-family: var(--mc-body-font);
    color: var(--mc-gray-base);
    font-size: var(--mc-size-base);
}

.mc-calltoaction-main a {
    color: var(--mc-blue-base);
    text-decoration: none;
}

.mc-calltoaction-main a:hover {
    text-decoration: underline;
}

.mc-calltoaction-button {
    text-transform: uppercase;
    color: var(--mc-blue-base);
    border: solid 2px var(--mc-blue-base);
    font-size: var(--mc-size-larger-1);
}

.mc-calltoaction-button:hover {
    background-color: var(--mc-blue-base);
    color: var(--mc-white);
    text-decoration: none;
}

.mc-calltoaction-icon {
    margin: auto;
    height: var(--mc-space-larger-7);
    width: var(--mc-space-larger-7);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.mc-calltoaction-dashboard-icon {
    background-image: url('./images/dashboard-hosting.svg');
}

.mc-calltoaction-webapphosting-icon {
    background-image: url('./images/web-app-hosting.svg');
}

.mc-calltoaction-security-icon {
    background-image: url('./images/security-icon.svg');
}

/**************************************/
/* Phone */
/**************************************/

@media (max-width: 425px) {
    .mc-calltoaction-button {
        display: none;
    }
}
