.demoContainer {
    margin-right: 75px;
}

jqx-progress-bar .jqx-value {
    background-color: #FFBB00;
}

jqx-circular-progress-bar .jqx-value {
    stroke: #FFBB00;
}

jqx-tank .jqx-track {
    border-color: gray;
}
