jqx-carousel {
    width: 1000px;
    height: 500px;
    border-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    jqx-carousel .jqx-carousel-item .jqx-carousel-item-container {
        background-position: initial;
        background-size:100% 90%;
        background-repeat:no-repeat;
    }

    jqx-carousel:focus,
    jqx-carousel:active {
        border-color: transparent;
    }

    jqx-carousel .jqx-arrow:after {
        color: white;
    }

    jqx-carousel .jqx-indicator {
        width: 60px;
        height: 30px;
    }


jqx-carousel{
    --jqx-background-color: transparent;
    --jqx-active-background-color: transparent;
    --jqx-hover-background-color: transparent;
    --jqx-focus-background-color: transparent;
}
