body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

jqx-carousel {
    width: 100%;
    height: 100%;
    display: block;
    border-width: 0px;
}

    jqx-carousel .jqx-carousel-item-label {
        font-size: 50px;
    }

    jqx-carousel .jqx-carousel-item .jqx-carousel-item-content {
        color: black;
        padding: 50px;
        text-shadow: 0px 0px 25px #fefefe;
    }

    jqx-carousel .jqx-arrow:after {
        font-size: 40px;
        position: absolute;
        color: white;
    }

    jqx-carousel .jqx-arrow-left:after {
        left: 20px;
    }

    jqx-carousel .jqx-arrow-right:after {
        right: 20px;
    }

    jqx-carousel .jqx-indicator {
        border-color: white;
        box-shadow: 0px 0px 25px #000;
        border-radius: 50%;
        background-color: white;
    }

        jqx-carousel .jqx-indicator.jqx-active {
            border-width: 5px;
        }
