jqx-docking-layout {
    width: 100%;
    height: 800px;
}

    jqx-docking-layout .jqx-items-container jqx-splitter-item:first-of-type {
        width: 80%;
        height: 80%;
    }

#layoutWindow .jqx-window > .jqx-container > .jqx-content,
#layoutWindow2 .jqx-window > .jqx-container > .jqx-content {
    background-color: #F5F5F5;
}

.jqx-window jqx-gauge {
    width: 100%;
    height: 100%;
}

.jqx-window jqx-text-box,
.jqx-window jqx-multiline-text-box,
.jqx-window jqx-tree {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #F5F5F5;
}

.jqx-window jqx-multiline-text-box,
.jqx-window jqx-text-box,
#tabPanel jqx-tabs .jqx-tabs-content-section {
    background-color: #FFFFFF;
    color: black;
}

    .jqx-window jqx-text-box input {
        border: none;
    }

.material-icons {
    margin-right: 10px;
}
