jqx-switch-button {
    --jqx-switch-button-thumb-size:25px;
    width: 60px;
    height: 27px;
    background-image: url('../../images/switch-button-off.png');
    background-repeat: no-repeat;
    /*border-color:transparent;*/
    border-radius: 12px;
    background-position: center;
    background-size: 110% 110%;
}

    jqx-switch-button[checked] {
        background-image: url('../../images/switch-button-on.png');
        border-color: lightblue;
    }

    jqx-switch-button .jqx-true-content-container,
    jqx-switch-button .jqx-false-content-container {
        background-color: transparent;
        font-size: 16px;
        color: #ffffff;
        opacity: 0.8;
    }

    jqx-switch-button .jqx-true-content-container,
    jqx-switch-button .jqx-false-content-container {
        background-color: transparent;
        font-size: 16px;
        font-weight: bold;
        color: darkgray;
    }

    jqx-switch-button .jqx-true-content-container {
        color: white;
    }

    jqx-switch-button .jqx-thumb,
    jqx-switch-button .jqx-thumb.dragged,
    jqx-switch-button[checked] .jqx-thumb {
        border-radius: 12px;
        background-color: white;
    }
