.mc-upload-drop-area {
    border: var(--mc-border-base) dashed var(--mc-gray-lighter-3);
}

.mc-upload-drop-area.highlight {
    background-color: var(--mc-green-lighter-4);
}

.mc-upload-drop-form {
    margin: var(--mc-space-larger-2);
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 280px;
}

.mc-upload-input {
    display: none;
}

.mc-upload-status {
    height: var(--mc-space-larger-7);
    width: var(--mc-space-larger-7);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--mc-space-base);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mc-upload-start {
    background-image: url(./images/upload_40x40.svg);
}

.mc-upload-pending {
    background-image: url(./images/wait.gif);
}

.mc-upload-success {
    background-image: url(./images/succedded_40x40.svg);
}

.mc-upload-failure {
    background-image: url(./images/fail_40x40.svg);
}

.mc-upload-drop-form-text {
    font-family: var(--mc-headline-font);
    font-size: var(--mc-size-larger-2);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: var(--mc-space-base);
    max-width: 350px;
}

.mc-upload-drop-form-text p {
    margin: var(--mc-space-none);
}

.mc-upload-drop-form-text h3 {
    font-family: var(--mc-headline-font);
    color: var(--mc-blue-base);
    font-weight: var(--mc-weight-smaller-1);
    line-height: normal;
    text-align: center;
}

.mc-upload-drop-form-text h4 {
    margin-top: var(--mc-space-base);
    color: var(--mc-gray-base);
    font-size: var(--mc-size-larger-1);
    font-weight: var(--mc-weight-smaller-1);
    text-align: center;
}

.mc-upload-next-steps {
  margin-top: var(--mc-space-larger-5)
}

.mc-upload-main a {
    color: var(--mc-blue-base);
    text-decoration: none;
}

.mc-upload-main a:hover {
    text-decoration: underline;
}

.mc-upload-links p {
    margin: var(--mc-space-none);
}