.sl-tagviewer-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    line-height: 25px;
}

.sl-tagviewer-form-label {
    width: 160px;
}

.sl-tagviewer-form-error {
    color: var(--mc-red-darker-2);
    font-size: var(--mc-size-smaller-1);
    margin-top: 0.5em;
    margin-left: 160px;
    width: 100%;
}

.sl-tagviewer-form-input {
    width: 200px;
}

.sl-tagviewer-form-retention-input::-webkit-inner-spin-button,
.sl-tagviewer-form-retention-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.sl-tagviewer-form-retention-input {
    -moz-appearance: textfield;
    width: 100px;
    margin-left: 10px;
}

.sl-tagviewer-hidden {
    display: none;
}

.sl-tagviewer-toolbar {
    display: flex;
    background-color: var(--mc-gray-lighter-8);
}

.sl-tagviewer-action {
    flex: auto;
}

.sl-tagviewer-filter {
    width: 100px;
}

.sl-tagviewer-search {
    width: 250px;
    margin-top: 12px;
}

.sl-tagviewer-search-input {
    background-color: var(--mc-gray-lighter-8);
}

.sl-tagviewer-filter-builder {
    margin: 10px;
}

.sl-tagviewer-filter-builder-hidden {
    display: none;
}

.sl-tagviewer-filter-builder-show {
    display: block;
}

sl-list-editor {
    width: 300px;
}