.container {
    width: 1600px;
    height: 300px;
}

jqx-gauge {
    float: left;
    margin-right: 10px;
}

    jqx-gauge,
    jqx-gauge:focus {
        outline: 1px dashed #AAAAAA;
    }

#gaugeLargeFont {
    font-size: 30px;
}
