jqx-docking-layout .jqx-items-container > .jqx-container > jqx-splitter-item {
    width: 50%;
}

jqx-docking-layout {
    width: 50%;
    height: 600px;
}

#container {
    margin-left: 0;
}

#insertIntoLeft,
#insertIntoRight,
#insertIntoTop,
#insertIntoBottom {
    width: 125px;
}
