:root {
   --jqx-grid-group-row-vertical-offset: 0;
    --jqx-grid-group-row-horizontal-offset: 0;
    --jqx-grid-group-row-border-radius: var(--jqx-border-radius);
	--jqx-grid-group-row-background: inherit;
}