jqx-window > .jqx-container > .jqx-content {
    flex-direction: column;
}

jqx-window #article {
    overflow-y: auto;
    width: 100%;
}

#logContainer {
    border: 1px solid black;
    height: 450px;
    width: 250px;
    overflow-y: auto;
}

    #logContainer h4 {
        text-align: center;
    }
