<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tank Overview</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../../../source/styles/jqx.base.css" />
    <link rel="stylesheet" type="text/css" href="../../../styles/demos.css" />
    <link rel="stylesheet" type="text/css" href="../../../styles/common.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

    <script type="text/javascript" src="../../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script type="text/javascript" src="../../../node_modules/@ni-kismet/jqx-element/source/jqxelement.js"></script>
    <script type="text/javascript" src="../../../source/jqxtank.js"></script>
    <script type="text/javascript" src="../../../source/jqxnumeric.js"></script>
    <script type="text/javascript" src="../../../source/jqxmath.js"></script>
    <script type="text/javascript" src="../../../source/jqxtickintervalhandler.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="container">
        <div class="underlined">Horizontal tank</div>
        Value: <span id="horizontalTankValue">30.00</span>
        <jqx-tank id="horizontalTank" orientation="horizontal" min="0" max="100" value="30" scale-position="none"></jqx-tank>
    </div>
    <div class="container">
        <div class="underlined">Inverted horizontal tank</div>
        Value: <span id="invertedHorizontalTankValue">30.00</span>
        <jqx-tank id="invertedHorizontalTank" orientation="horizontal" inverted min="0" max="100" value="30" scale-position="none"></jqx-tank>
    </div>
    <div class="container">
        <div class="underlined">Vertical Tank</div>
        Value: <span id="verticalTankValue">30.00</span>
        <jqx-tank id="verticalTank" orientation="vertical" min="0" max="100" value="30" scale-position="none"></jqx-tank>
    </div>
    <div class="container">
        <div class="underlined">Inverted vertical Tank</div>
        Value: <span id="invertedVerticalTankValue">30.00</span>
        <jqx-tank id="invertedVerticalTank" orientation="vertical" inverted min="0" max="100" value="30" scale-position="none"></jqx-tank>
    </div>
</body>
</html>