.container {
    float: left;
    width: 300px;
    margin-left: 35px;
}

.underlined {
    text-decoration: underline;
}

#horizontalTank, #invertedHorizontalTank {
    width: 180px;
    height: 120px;
}

#verticalTank, #invertedVerticalTank {
    width: 120px;
    height: 180px;
}

#horizontalTankValue, #verticalTankValue, #invertedHorizontalTankValue, #invertedVerticalTankValue {
    font-weight: bold;
}
