#autocompletable-input {
  border-bottom-width: 1px;
  font-size: inherit;
}

.mc-autocomplete-error-hidden {
  display: none;
}

#mc-autocomplete-error-message {
  color: var(--mc-red-darker-2);
  font-size: var(--mc-size-smaller-1);
  text-overflow: ellipsis;
  margin-top: 5px;
}

.mc-autocomplete {
  position: relative;
}

.mc-autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.mc-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: none;
}

.mc-autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--mc-gray-lighter-7);
}
.mc-autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--mc-gray-lighter-8) !important;
}