/* ------------ Google fonts ------------ */ /* APACHE LICENSE 2.0 ! */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ------------ */

#materialWindowContainer {
    font-family: var(--jqx-material-font-family);
    line-height: 24px;
    font-size: 13px;
    background-color: #fafafa;
    padding: 25px;
    margin-left: 0;
    padding: 200px;
    padding-top: 50px;
}

    #materialWindowContainer section h1 {
        border-top: 1px solid rgba(0,0,0,.12);
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 30px;
        color: #3949ab;
        width: calc(100% - 280px);
    }

    #materialWindowContainer jqx-tabs-window.jqx-window jqx-tab-item div h1 {
        border-top: initial;
        font-size: 30px;
    }

    #materialWindowContainer section:first-of-type h1 {
        font-size: 34px;
        border-top: initial;
    }

    #materialWindowContainer #appearance h1 {
        border-top: initial;
    }

    #materialWindowContainer section:first-of-type div h1 {
        font-size: 20px;
    }

    #materialWindowContainer section {
        margin-top: 80px;
    }

        #materialWindowContainer section:first-of-type {
            margin-top: 0;
        }

        #materialWindowContainer section div h1 {
            color: #212121;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 30px;
            max-width: 940px;
        }

    #materialWindowContainer nav {
        display: block;
        border-left: 5px #3949ab solid;
        padding-left: 20px;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        font: inherit;
        margin-top: 60px;
    }

        #materialWindowContainer nav ul {
            list-style: none;
            margin-top: 0;
            padding-left: 0;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            display: block;
            list-style-type: disc;
        }

        #materialWindowContainer nav li {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            font-size: 20px;
            line-height: 40px;
        }

            #materialWindowContainer nav li a {
                text-decoration: none;
            }

        #materialWindowContainer nav h1 {
            font-size: 15px;
            line-height: 16px;
            padding-bottom: 12px;
            font-weight: 400;
            color: #757575;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }

.module {
    width: calc(100% / 4);
    display: inline-block;
    font: inherit;
    margin-right: 40px;
    min-width: 365px;
    vertical-align: top;
}

    .module.gestures {
        width: calc(100% / 2);
    }

    .module h3 {
        font-size: 13px;
    }

    .module p {
        margin-bottom: 20px;
    }

    .module img {
        width: 100%;
    }

    .module h2 {
        font-weight: 400;
    }


#materialWindowContainer #appearance .module:nth-child(4),
#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #behavior .module:nth-child(5),
#materialWindowContainer #behavior .module:nth-child(6),
#materialWindowContainer #behavior .module:nth-child(7),
#materialWindowContainer #behavior .module:nth-child(8),
#materialWindowContainer #behavior .module:nth-child(9),
#materialWindowContainer #behavior .module:nth-child(10),
#materialWindowContainer #behavior .module:nth-child(11),
#materialWindowContainer #behavior .module:nth-child(12),
#materialWindowContainer #types .module {
    margin-top: 50px;
}

#materialWindowContainer #appearance .module:nth-child(3),
#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #appearance .module:nth-child(7) {
    width: calc(100% / 2);
}

#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #appearance .module:nth-child(7) {
    height: 400px;
}

#materialWindowContainer .headerTemplateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #materialWindowContainer .headerTemplateContainer i {
        margin-right: 5px;
        font-size: 16px;
    }

#materialWindowContainer jqx-window.jqx-window:first-of-type {
    top: calc(50% - 250px / 2);
    left: calc(50% - 500px / 2);
    width: 500px;
    height: 250px;
}

#materialWindowContainer jqx-window.jqx-window {
    top: calc(50% - 200px / 2);
    left: calc(50% - 400px / 2);
    width: 400px;
    height: 200px;
}

#materialWindowContainer jqx-window[collapsed][header-position="left"].jqx-window,
#materialWindowContainer jqx-window[collapsed][header-position="right"].jqx-window,
#materialWindowContainer jqx-window[maximized][collapsed][header-position="right"].jqx-window,
#materialWindowContainer jqx-window[maximized][collapsed][header-position="left"].jqx-window {
    height: 200px;
}

#materialWindowContainer jqx-window.content-window[collapsed][header-position="left"],
#materialWindowContainer jqx-window.content-window[collapsed][header-position="right"],
#materialWindowContainer jqx-window.content-window[maximized][collapsed][header-position="right"],
#materialWindowContainer jqx-window.content-window[maximized][collapsed][header-position="left"] {
    height: 300px;
}

#materialWindowContainer jqx-window.content-window .jqx-container > .jqx-content {
    padding: initial;
}

#materialWindowContainer jqx-window.content-window jqx-list-box {
    height: 100%;
    width: 100%;
    box-shadow: initial;
    background-color: initial;
}


#materialWindowContainer #appearance .module:nth-child(5) p {
    margin-top: 350px;
    padding-left: 125px;
}

#materialWindowContainer #appearance .module:nth-child(7) p {
    margin-top: 365px;
    padding-left: 300px;
}

#materialWindowContainer .confirmation-window {
    background-image: url(../../images/components-windows-confirmation.png);
    height: 725px;
    width: 405px;
    background-size: cover;
}

#materialWindowContainer .confirmation-window2 {
    height: 725px;
    width: 405px;
    background-color: #E0E0E0;
}

    #materialWindowContainer .confirmation-window2 jqx-window.jqx-window {
        width: 300px;
        height: 225px;
        left: calc((100% - 300px) / 2);
        top: calc((100% - 225px) / 2);
    }

    #materialWindowContainer .confirmation-window2 jqx-window.jqx-window {
        top: calc(50% - 225px / 2);
        left: calc(50% - 300px / 2);
        width: 300px;
        height: 225px;
    }

    #materialWindowContainer .confirmation-window2 jqx-window[collapsed][header-position="left"].jqx-window,
    #materialWindowContainer .confirmation-window2 jqx-window[collapsed][header-position="right"].jqx-window,
    #materialWindowContainer .confirmation-window2 jqx-window[maximized][collapsed][header-position="right"].jqx-window,
    #materialWindowContainer .confirmation-window2 jqx-window[maximized][collapsed][header-position="left"].jqx-window {
        height: 225px;
    }

#materialWindowContainer .confirmation-window jqx-window.jqx-window {
    top: 55px;
    left: 45px;
    width: 317px;
    height: 588px;
}

#materialWindowContainer .confirmation-window jqx-window[collapsed][header-position="left"].jqx-window,
#materialWindowContainer .confirmation-window jqx-window[collapsed][header-position="right"].jqx-window,
#materialWindowContainer .confirmation-window jqx-window[maximized][collapsed][header-position="right"].jqx-window,
#materialWindowContainer .confirmation-window jqx-window[maximized][collapsed][header-position="left"].jqx-window {
    height: 588px;
}

#materialWindowContainer #appearance .module:nth-child(8),
#materialWindowContainer .confirmation-window,
#materialWindowContainer .confirmation-window2,
#materialWindowContainer .window-themes {
    margin-top: 50px;
}

    #materialWindowContainer .confirmation-window jqx-window.jqx-window,
    #materialWindowContainer .confirmation-window2 jqx-window.jqx-window {
        --jqx-window-header-height: 55px;
        --jqx-window-footer-height: 55px;
    }

    #materialWindowContainer .confirmation-window .jqx-header-section,
    #materialWindowContainer .confirmation-window2 .jqx-header-section {
        background-color: initial;
        font-size: 23px;
        padding: 20px;
        font-weight: 600;
    }

    #materialWindowContainer .confirmation-window jqx-list-item .jqx-input:after,
    #materialWindowContainer .confirmation-window jqx-list-items-group .jqx-input:after,
    #materialWindowContainer .confirmation-window2 jqx-list-item .jqx-input:after,
    #materialWindowContainer .confirmation-window2 jqx-list-items-group .jqx-input:after {
        line-height: 15px;
    }

    #materialWindowContainer .confirmation-window jqx-list-item .jqx-input,
    #materialWindowContainer .confirmation-window jqx-list-items-group .jqx-input,
    #materialWindowContainer .confirmation-window2 jqx-list-item .jqx-input,
    #materialWindowContainer .confirmation-window2 jqx-list-items-group .jqx-input {
        color: #009788;
        font-size: inherit;
    }

    #materialWindowContainer .confirmation-window jqx-list-box,
    #materialWindowContainer .confirmation-window2 jqx-list-box {
        font-size: 15px;
    }

    #materialWindowContainer .confirmation-window .jqx-footer,
    #materialWindowContainer .confirmation-window2 .jqx-footer {
        background-color: initial;
        display: flex;
        justify-content: flex-end;
    }

        #materialWindowContainer .confirmation-window .jqx-footer jqx-button,
        #materialWindowContainer .confirmation-window2 .jqx-footer jqx-button {
            height: 100%;
        }

        #materialWindowContainer .confirmation-window .jqx-footer button,
        #materialWindowContainer .confirmation-window2 .jqx-footer button {
            color: #009788;
        }

    #materialWindowContainer .confirmation-window p,
    #materialWindowContainer .confirmation-window2 p {
        margin-top: 750px;
    }

#materialWindowContainer jqx-list-box.material jqx-list-item {
    border-bottom: initial;
}

#materialWindowContainer .window-themes {
    margin-top: 100px;
}

#materialWindowContainer .window-themes1,
#materialWindowContainer .window-modal,
#materialWindowContainer .window-types {
    background-color: #E0E0E0;
    height: 500px;
}

#materialWindowContainer .window-with-header-themes1,
#materialWindowContainer .window-with-header-themes2 {
    background-image: url('../../images/components-windows-header.png');
    background-size: cover;
    height: 665px;
}

    #materialWindowContainer .window-with-header-themes1 jqx-window.jqx-window,
    #materialWindowContainer .window-with-header-themes2 jqx-window.jqx-window {
        left: 40px;
        top: 165px;
        --jqx-window-header-height: 70px;
        --jqx-window-footer-height: 50px;
        width: 295px;
        height: 300px;
    }

    #materialWindowContainer .window-with-header-themes1 .jqx-window .jqx-header-section,
    #materialWindowContainer .window-with-header-themes2 .jqx-window .jqx-header-section {
        font-size: 20px;
        padding: 20px;
        color: white;
        background-color: initial;
    }

    #materialWindowContainer .window-with-header-themes1 .jqx-window .jqx-footer,
    #materialWindowContainer .window-with-header-themes2 .jqx-window .jqx-footer {
        background-color: initial;
    }

        #materialWindowContainer .window-with-header-themes1 .jqx-window .jqx-footer button,
        #materialWindowContainer .window-with-header-themes2 .jqx-window .jqx-footer button {
            color: #2693E5;
        }

    #materialWindowContainer .window-with-header-themes2 .jqx-window .jqx-header-section {
        color: black;
        background-color: initial;
    }

    #materialWindowContainer .window-with-header-themes1 jqx-window.jqx-window > .jqx-container > .jqx-content,
    #materialWindowContainer .window-with-header-themes2 jqx-window.jqx-window > .jqx-container > .jqx-content {
        padding: 20px;
        font-size: 15px;
    }

#materialWindowContainer .window-themes1 jqx-window.jqx-window,
#materialWindowContainer .window-themes2 jqx-window.jqx-window,
#materialWindowContainer .window-modal jqx-window.jqx-window {
    --jqx-window-header-height: 0px;
    --jqx-window-footer-height: 50px;
    min-width: 100px;
    font-size: 15px;
    width: 250px;
    height: 125px;
    top: calc((100% - 125px) / 2);
    left: calc((100% - 250px) / 2);
}

#materialWindowContainer .window-themes1 > p,
#materialWindowContainer .window-themes2 > p {
    margin-top: 525px;
}

#materialWindowContainer .window-with-header-themes1 > p,
#materialWindowContainer .window-with-header-themes2 > p {
    margin-top: 685px;
}

#materialWindowContainer .window-themes1 .jqx-window jqx-button,
#materialWindowContainer .window-themes2 .jqx-window jqx-button,
#materialWindowContainer .window-modal .jqx-window jqx-button {
    height: 100%;
}

#materialWindowContainer .window-themes1 .jqx-window button,
#materialWindowContainer .window-themes2 .jqx-window button,
#materialWindowContainer .window-modal .jqx-window button {
    color: #2693E5;
}

#materialWindowContainer .window-themes1 .jqx-window .jqx-footer,
#materialWindowContainer .window-themes2 .jqx-window .jqx-footer,
#materialWindowContainer .window-modal .jqx-window .jqx-footer {
    display: flex;
    justify-content: flex-end;
    background-color: initial;
}

#materialWindowContainer .header-controls .jqx-window .jqx-footer {
    display: none;
}

#materialWindowContainer .header-controls > jqx-button,
#materialWindowContainer .window-types > jqx-button,
#materialWindowContainer .window-themes > jqx-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#materialWindowContainer .window-modal.header-controls.dark {
    background-color: black;
}

#materialWindowContainer .header-controls jqx-window img {
    height: 100%;
}

#materialWindowContainer .window-modal.header-controls .jqx-window.material {
    --jqx-window-header-height: 50px;
    --jqx-material-background-color: #2693E5;
    --jqx-material-color: white;
    width: 250px;
    height: 300px;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 250px) / 2);
}

#materialWindowContainer .window-modal.header-controls .jqx-window.material-dark {
    --jqx-window-header-height: 50px;
    width: 250px;
    height: 300px;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 250px) / 2);
}

    #materialWindowContainer .window-modal.header-controls .jqx-window.material-dark jqx-tabs {
        width: 100%;
        height: 100%;
    }

    #materialWindowContainer .window-modal.header-controls .jqx-window.material-dark jqx-tab-item {
        overflow: initial;
    }

    #materialWindowContainer .window-modal.header-controls .jqx-window.material-dark .jqx-tabs-content-section {
        margin: initial;
    }

#materialWindowContainer .header-controls .jqx-window .jqx-content {
    height: 100%;
}

#materialWindowContainer .window-themes1 .jqx-window .jqx-content p,
#materialWindowContainer .window-themes2 .jqx-window .jqx-content p,
#materialWindowContainer .window-modal .jqx-window .jqx-content p {
    width: 100%;
    margin-left: 35px;
    margin-top: 0;
}

#materialWindowContainer .window-themes1 .jqx-header-section,
#materialWindowContainer .window-themes2 .jqx-header-section,
#materialWindowContainer .window-modal .jqx-header-section {
    display: none;
}

#materialWindowContainer .window-modal.unpinned .jqx-header-section,
#materialWindowContainer .window-modal.scrollable-content .jqx-header-section,
#materialWindowContainer .window-modal.header-controls .jqx-header-section {
    display: flex;
}

#materialWindowContainer .window-modal.scrollable-content .jqx-window .jqx-footer {
    display: none;
}

#materialWindowContainer .window-modal.scrollable-content .jqx-window .jqx-content {
    overflow: scroll;
}

#materialWindowContainer .window-modal.scrollable-content .jqx-content > div {
    height: 100%;
}

#materialWindowContainer .window-modal.scrollable-content .jqx-container > .jqx-content {
    padding: 10px;
}

#materialWindowContainer .window-modal.unpinned .jqx-window,
#materialWindowContainer .window-modal.scrollable-content .jqx-window {
    --jqx-window-header-height: 50px;
    width: 250px;
    height: 200px;
    left: calc((100% - 250px) / 2);
    top: calc((100% - 200px) / 2);
}

#materialWindowContainer .window-modal.scrollable-content .jqx-window {
    --jqx-window-header-height: 50px;
    width: 600px;
    height: 350px;
    left: calc((100% - 600px) / 2);
    top: calc((100% - 350px) / 2);
    min-width: 150px;
}

#materialWindowContainer .window-modal.scrollable-content,
#materialWindowContainer .window-types.tabs-window {
    width: calc(100% / 2);
}

    #materialWindowContainer .window-types.tabs-window:last-of-type {
        background-color: black;
    }

#materialWindowContainer .window-modal.unpinned .jqx-content p {
    text-align: center;
    margin: initial;
}

#materialWindowContainer .window-themes2 {
    background-color: black;
    height: 500px;
}

jqx-progress-window.jqx-window {
    width: 300px;
    height: 150px;
    top: calc(50% - 150px / 2);
    left: calc(50% - 300px / 2);
}

jqx-progress-window[collapsed][header-position="left"],
jqx-progress-window[collapsed][header-position="right"],
jqx-progress-window[maximized][collapsed][header-position="right"],
jqx-progress-window[maximized][collapsed][header-position="left"] {
    height: 150px;
}

jqx-dialog-window.jqx-window,
jqx-alert-window.jqx-window {
    width: 250px;
    height: 200px;
    top: calc(50% - 200px / 2);
    left: calc(50% - 250px / 2);
}

    jqx-alert-window.jqx-window[collapsed][header-position="left"],
    jqx-alert-window.jqx-window[collapsed][header-position="right"],
    jqx-alert-window.jqx-window[maximized][collapsed][header-position="right"],
    jqx-alert-window.jqx-window[maximized][collapsed][header-position="left"],
    jqx-dialog-window.jqx-window[collapsed][header-position="left"],
    jqx-dialog-window.jqx-window[collapsed][header-position="right"],
    jqx-dialog-window.jqx-window[maximized][collapsed][header-position="right"],
    jqx-dialog-window.jqx-window[maximized][collapsed][header-position="left"] {
        height: 200px;
    }

jqx-wait-window.jqx-window {
    width: 300px;
    height: 75px;
    top: calc(50% - 75px / 2);
    left: calc(50% - 300px / 2);
}

    jqx-wait-window.jqx-window[collapsed][header-position="left"],
    jqx-wait-window.jqx-window[collapsed][header-position="right"],
    jqx-wait-window.jqx-window[maximized][collapsed][header-position="right"],
    jqx-wait-window.jqx-window[maximized][collapsed][header-position="left"] {
        height: 75px;
    }

jqx-prompt-window.jqx-window {
    width: 300px;
    height: 200px;
    top: calc(50% - 200px / 2);
    left: calc(50% - 300px / 2);
}

    jqx-prompt-window.jqx-window[collapsed][header-position="left"],
    jqx-prompt-window.jqx-window[collapsed][header-position="right"],
    jqx-prompt-window.jqx-window[maximized][collapsed][header-position="right"],
    jqx-prompt-window.jqx-window[maximized][collapsed][header-position="left"] {
        height: 200px;
    }

jqx-tabs-window.jqx-window {
    width: 80%;
    height: 80%;
}

    jqx-tabs-window.jqx-window[collapsed][header-position="left"],
    jqx-tabs-window.jqx-window[collapsed][header-position="right"],
    jqx-tabs-window.jqx-window[maximized][collapsed][header-position="right"],
    jqx-tabs-window.jqx-window[maximized][collapsed][header-position="left"] {
        min-width: initial;
        height: 80%;
    }
