/**
        * Heart theme
        *
        */

jqx-radio-button.heart .jqx-input {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-width: 0px;
    display: inline-block;
}

jqx-radio-button.heart:focus .jqx-input {
    box-shadow: 0 0 5px gray;
    border-radius: 7px;
    border-width: 0px;
    outline: none;
}

jqx-radio-button.heart[disabled]:focus .jqx-input {
    outline: none;
}

jqx-radio-button.heart[checked] .jqx-input:after {
    content: ' ';
}

jqx-radio-button.heart .jqx-input {
    background-image: url(../../../styles/images/check-mark-heart-empty.svg);
    background-repeat: no-repeat;
}

jqx-radio-button.heart[checked] .jqx-input {
    background-image: url(../../../styles/images/check-mark-heart.svg);
    background-repeat: no-repeat;
}

jqx-radio-button.heart[checked="null"] .jqx-input {
    background-image: url(../../../styles/images/check-mark-heart-indetermined.svg);
    background-repeat: no-repeat;
}
