#tree {
    height: auto;
}

jqx-tree-item,
jqx-tree-items-group {
    pointer-events: none;
}

#tree.mouseover jqx-tree-item,
#tree.mouseover jqx-tree-items-group {
    pointer-events: auto;
}

.jqx-tree-items-group-arrow {
    pointer-events: auto;
}

jqx-tree[selection-mode="checkBox"] jqx-tree-item > .jqx-tree-item-label-container:after,
jqx-tree[selection-mode="checkBox"] jqx-tree-items-group > .jqx-tree-item-label-container:after {
    right: 10px;
    pointer-events: auto;
}

jqx-tree[selection-mode="checkBox"] jqx-tree-item .jqx-tree-item-label-element,
jqx-tree[selection-mode="checkBox"] jqx-tree-items-group > .jqx-tree-item-label-container > .jqx-tree-item-label-element {
    padding-left: 0;
}
