.container {
    float: left;
    width: 700px;
}

.underlined {
    text-decoration: underline;
}

#horizontalSlider, #invertedHorizontalSlider {
    width: 500px;
    height: 40px;
}

#verticalSlider, #invertedVerticalSlider {
    width: 40px;
    height: 500px;
}

#horizontalSliderValue, #verticalSliderValue, #invertedHorizontalSliderValue, #invertedVerticalSliderValue {
    font-weight: bold;
}
