#tank1, #tank3 {
    width: 200px;
}

#tank2 {
    --jqx-tank-tooltip-width: 140px;
    --jqx-tank-tooltip-height: 50px;
    width: 800px;
}

    #tank2 .jqx-tooltip {
        z-index: 1;
    }

#birthday {
    text-align: center;
    color: maroon;
}
