.mc-button {
    cursor: pointer;
    border: var(--mc-border-base) solid var(--mc-gray-lighter-1);
    padding: var(--mc-space-larger-1) var(--mc-space-larger-2) var(--mc-space-larger-1) var(--mc-space-larger-2);
    font-weight: var(--mc-weight-base);
    text-align: center;
    font-size: var(--mc-size-base);
    font-family: var(--mc-headline-font);
    transition: var(--mc-button-transition);
    height: 43px;
    min-width: 90px;
    color: var(--mc-gray-base);
    background-color: var(--mc-white);
    outline: none;
}

.mc-button:hover {
    color: var(--mc-white);
    background-color: var(--mc-gray-lighter-1);
}

.mc-button:disabled {
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
}
