.fa {
    display: inline-block;
    font: normal normal normal 14px/1 var(--mc-icon-font);
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}